*********************************Numbers**************************************


I. Give a brief description of:

    Numbers:Whole numbers, decimals; used for arithmetic and variable assignments

    Strings: Set/sequences of characters. Can index, slice. Immutable

    Lists: Ordered sequences that can hold a variety of objects. Can mutate.

    Dictionaries: Unordered key-value pairings/mappings for storing objects. 

    Tuples: Similar to lists, but immutable

II. Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.
    ((5 ** 2)(20)+100) / 3 - 99.75

In [11]:
(((5 ** 2) * 20 + 100) / 3) - 99.75

100.25

III. Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)

    What is the value of the expression 4 * 6 + 5 

    What is the value of the expression 4 + 6 * 5

In [12]:
4 * (6 + 5)

44

In [13]:
4 * 6 + 5

29

In [14]:
4 + 6 * 5

34

IV. What is the type of the result of the expression 3 + 1.5 + 4?
     Answer: Integer

In [15]:
x = 3 + 1.5 + 4

In [16]:
type(x)

float

V. What would you use to find a numberâ€™s square root, as well as its square?

In [102]:
#square root:
import math
x = math.sqrt(25)

In [103]:
x + 11
x ** 0.5

2.23606797749979

In [23]:
x ** x

3125.0

In [24]:
x

5.0

In [28]:
#square 
x * x

25.0

In [29]:
#square
x ** 2

25.0

########################################Strings ############################################

VI. Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [30]:
s = 'hello'

In [31]:
s[1]

'e'

VII. Reverse the string 'hello' using slicing:

In [32]:
s[::-1]

'olleh'

VIII. Given the string hello, give two methods of producing the letter 'o' using indexing.

In [33]:
#Method 1:
s[-1]

'o'

In [34]:
#Method 2:
s[4]

'o'

###########################Lists###########################

IX. Build this list [0,0,0] two separate ways.

In [41]:
#Method 1:
list = [0, 0, 0]

In [36]:
list

[0, 0, 0]

In [42]:
#Method 2:
list2 = [0]

In [43]:
list2.append(0)

In [44]:
list2.append(0)

In [45]:
list2

[0, 0, 0]

X. Reassign 'hello' in this nested list to say 'goodbye' instead:

list3 = [1,2,[3,4,'hello']]

In [46]:
list3 = [1,2,[3,4,'hello']]

In [47]:
list3[2][2] = 'goodbye'

In [48]:
list3

[1, 2, [3, 4, 'goodbye']]

XI. Sort the list below:

list4 = [5,3,4,6,1]

In [49]:
list4 = [5,3,4,6,1]

In [50]:
list4.sort()

In [51]:
list4

[1, 3, 4, 5, 6]

*********************Dictionaries*****************************

XII. Using keys and indexing, grab the 'hello' from the following dictionaries:

d = {'simple_key':'hello'}

In [52]:
d = {'simple_key': 'hello'}

In [54]:
d['simple_key']

'hello'

In [87]:
#XIII
e = {'k1':{'k2':'hello'}}

In [56]:
e['k1']['k2']

'hello'

In [88]:
#XIV
f = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [66]:
f

{'k1': [{'nest_key': ['this is deep', ['hello']]}]}

In [73]:
f['k1']

[{'nest_key': ['this is deep', ['hello']]}]

In [74]:
f['k1'][0]

{'nest_key': ['this is deep', ['hello']]}

In [80]:
f['k1'][0]['nest_key'][1]

['hello']

In [89]:
#XV
g = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [86]:
g['k1'][2]['k2'][1]['tough'][2]

['hello']

XVI. Can you sort a dictionary?

Answer: No, because dictionaries are mappings, not sequences

**********************Tuples****************************

#XVII. What is the major difference between tuples and lists? 
      
      Answer: Lists are mutable, tuples are not. 

#XVIII. How do you create a tuple?
       
       Answer: Parenthesis
       
       t = (1, 2, 3)

***********************Sets**************************

#XIX. What is unique about a set?

Answer: Only unique elements, no repetitions

#XX. Use a set to find the unique values of the list below:

list5 = [1,2,2,33,4,4,11,22,3,3,2]list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [90]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [91]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

*********************Booleans************************

In [92]:
2 > 3

False

In [93]:
3 <= 2

False

In [94]:
3 == 2

False

In [95]:
3.0 == 3

True

In [96]:
4 * 0.5 != 2

False

In [97]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

In [98]:
l_one[2][0] >= l_two[2]['k1']

False

In [99]:
l_one[2][0]

3

In [100]:
l_two[2]['k1']

4