WARMUP SECTION:

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2

lesser_of_two_evens(2,5) --> 5

In [17]:
def lesser_of_two_evens(num1, num2):
    if(num1 % 2 == 0 and num2 % 2 == 0 ):
        if(num1 < num2):
            return num1
        
        elif (num2 < num1):
            return num2
        
    elif(num1 % 2 != 0 or num2 % 2 != 0):
        if(num1 > num2):
            return num1
        
        elif (num2 > num1):
            return num2

In [18]:
lesser_of_two_evens(2,4)

2

In [19]:
lesser_of_two_evens(2,5)

5

In [20]:
lesser_of_two_evens(3,5)

5

In [21]:
lesser_of_two_evens(77,5)

77

In [22]:
lesser_of_two_evens(2,5)

5

In [23]:
lesser_of_two_evens(2,4)

2

In [25]:
lesser_of_two_evens(2,8)

2

In [26]:
lesser_of_two_evens(2,77)

77

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    
animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [77]:
def animal_crackers(st):
    for element in range(0, len(st)):
        print(f'Element {element}, String {st[element]}')

In [78]:
animal_crackers("Levelheaded Llama")

Element 0, String L
Element 1, String e
Element 2, String v
Element 3, String e
Element 4, String l
Element 5, String h
Element 6, String e
Element 7, String a
Element 8, String d
Element 9, String e
Element 10, String d
Element 11, String
Element 12, String L
Element 13, String l
Element 14, String a
Element 15, String m
Element 16, String a

In [31]:
st = "Levelheaded Llama"

In [32]:
st

'Levelheaded Llama'

In [47]:
srt = list(st.split())

In [48]:
srt

['Levelheaded', 'Llama']

In [49]:
srt[0]

'Levelheaded'

In [50]:
if srt[0][0] == srt[1][0]:
    print("Check")

Check

In [51]:
for element in range(0, len(srt)):
    if srt == 'L':
        print("Check")

In [79]:
animal_crackers(srt)

Element 0, String Levelheaded
Element 1, String Llama

In [93]:
def myfunc(stt):
    x = list(stt.split())
    print(x[0][0])
    print(x[1][0])
    if x[0][0] == x[1][0]:
        print("Check")

In [94]:
myfunc(st)

L
L
Check

TypeError: list indices must be integers or slices, not str

In [96]:
def animal_crackers(stt):
    x = list(stt.split())
    print(x[0][0])
    print(x[1][0])
    if x[0][0] == x[1][0]:
        print("Check")
        return True
    else:
        return False

In [97]:
animal_crackers(st)

L
L
Check

True

In [98]:
animal_crackers('Crazy Kangaroo')

C
K

False

In [101]:
def makes_twenty(num1, num2):
    if num1 + num2 == 20 or (num1 == 20) or (num2 == 0):
        return True
    else:
        return False

In [102]:
makes_twenty(20,10)

True

In [103]:
makes_twenty(12,8)

True

In [104]:
makes_twenty(12,2)

False

In [105]:
makes_twenty(2,3)

False

LEVEL 1 PROBLEMS

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [106]:
srtt = 'macdonald'

In [107]:
srtt

'macdonald'

In [109]:
srtt[0 + 1]

'a'

In [110]:
s = srtt.capitalize()

In [112]:
s

'Macdonald'

In [119]:
srtt[0].upper()

'M'

In [120]:
srtt[3].upper()

'D'

In [121]:
srtt

'macdonald'

In [143]:
def old_macdonald(st):
    s = ""
    for element in range(0, len(st)):
        if element == 0:
            upp = st[element].upper()
            s = s + upp
            
        elif element == 3:
            lw = st[element].upper()
            s = s + lw
            
        else:
            s = s + st[element]
    return s

In [144]:
old_macdonald('macdonald')

'MacDonald'

In [145]:
ss

'Macdonald'

In [146]:
old_macdonald('oldiebutgoodie')

'OldIebutgoodie'

MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here.

The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

#>>> "--".join(['a','b','c'])
#>>> 'a--b--c'
#This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

#>>> " ".join(['Hello','world'])
#>>> "Hello world"

In [147]:
" ".join(['Hello', 'world'])

'Hello world'

In [148]:
scv = "I am home"

In [149]:
scv

'I am home'

In [150]:
v = scv.split()

In [151]:
v

['I', 'am', 'home']

In [159]:
c = []
for element in reversed(range(len(v))):
    c.append(v[element])
    print(c)

['home']
['home', 'am']
['home', 'am', 'I']

In [160]:
u = list(scv.split())

In [161]:
u

['I', 'am', 'home']

In [162]:
c = []
for element in reversed(range(len(v))):
    c.append(v[element])
    print(c)

['home']
['home', 'am']
['home', 'am', 'I']

In [252]:
def master_yoda(text):
    v = text.split()
    sc = []
    uv = ""
    for element in reversed(range(len(v))):
        sc.append(v[element])
        uv = " ".join(sc)
    
    return uv

In [253]:
master_yoda('I am home')

'home am I'

In [247]:
def master_y(st):
    sc = " "
    for element in reversed(range(len(st))):
        sc = " ".join([st[element]])
        #sc = sc + j
    
    return sc

In [248]:
master_y('I am home')

'I'

In [249]:
at = master_yoda("I am home")

In [250]:
at

'home am I'

In [251]:
" ".join(at)

'h o m e   a m   I'

In [254]:
master_yoda('We are ready')

'ready are We'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [255]:
g = 25

In [257]:
g in range(30)

True

In [258]:
20 in range(30)

True

In [260]:
19 in range(30)

True

In [261]:
-10 in range(30)

False

In [262]:
1 in range(30)

True

In [263]:
1000 in range(30)

False

In [264]:
100 in range(30)

False

In [265]:
50 in range(30)

False

In [273]:
def checking(num):
    if 90<= num <= 110 or 190<= num <= 210:
        print("yes")
    else:
        print ("no")

In [274]:
checking(90)

yes

In [275]:
checking(104)

yes

In [276]:
checking(150)

no

In [277]:
checking(209)

yes

In [280]:
def almost_there(number):
    wt = False
    
    if (90 <= number <= 110) or (190 <= number <= 210):
        wt = True
        #print("Yes")
    
    else:
        wt = False
        #print("No")
        
    return wt

In [281]:
almost_there(90)

True

In [282]:
almost_there(104)

True

In [283]:
almost_there(150)

False

In [284]:
almost_there(209)

True

FIND 33:
    
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [413]:
l = [1,3,3]

In [286]:
l

[1, 3, 3]

In [295]:
l[2]

3

In [312]:
l.index(3)

1

In [313]:
l.index(1)

0

In [501]:
def has_33(nums):
    z = []
    h3 = False
    if 3 in nums:
        x = nums.index(3)
        z.append(x)
        nums.pop(x)
        if(3 in nums):
            y = nums.index(3) + 1
            z.append(y)
            print(z)
            if(y == (x + 1)):
                print("Check")
                h3 = True
            else:
                print("No bueno")
                h3 = False
        return h3

In [502]:
has_33([1,3,3])

[1, 2]
Check

True

In [385]:
p = 4

In [386]:
q = 5

In [387]:
if q == (p + 1):
    print("Check")

Check

In [503]:
has_33([1,3,3])

[1, 2]
Check

True

In [504]:
has_33([1,3,1,3])

[1, 3]
No bueno

False

In [505]:
has_33([1,2,3,6,5,11,3,7])

[2, 6]
No bueno

False

In [488]:
h = [1,2,3,4,3,5]

In [489]:
if 3 in h:
    x = h.index(3)
    print(x)
    h.pop()
    print(h)

2
[1, 2, 3, 4, 3]

In [506]:
has_33([3,1,3])

[0, 2]
No bueno

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [3]:
prt = "Hello"

In [4]:
prt

'Hello'

In [7]:
o = ""
for letter in prt:
    times_3 = letter * 3
    o = o + times_3
    print(o)

HHH
HHHeee
HHHeeelll
HHHeeellllll
HHHeeellllllooo

In [12]:
def paper_doll(text):
    o = ""
    for letter in text:
        t3 = letter * 3
        o = o + t3
    return o

In [13]:
paper_doll('Hello')

'HHHeeellllllooo'

In [14]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

*************BlackJack***********

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 

If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 
21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [15]:
prg = [5,6,7]

In [16]:
prg

[5, 6, 7]

In [17]:
oo = sum(prg)

In [18]:
oo

18

In [65]:
def blackjack(a,b,c):
    
    black = a + b + c
    bust = ""
    
    if(black <= 21):
        return black
    
    if (black > 21) and 11 in (a,b,c):
          black = black - 10 
                
    else:
          bust = "BUST"
            
    return bust

In [61]:
blackjack(5,6,7)

18

In [62]:
blackjack(9,9,9)

'BUST'

In [63]:
blackjack(9,9,11)

''

In [79]:
def blackjack(a,b,c):
    black = a + b + c
    bust = " "
    
    if(black <= 21):
        return black
    
    if(black > 21) and 11 in (a,b,c):
        black = black - 10
        return black
    
    else:
        bust = "BUST"
        
    return bust

In [80]:
blackjack(5,6,7)

18

In [81]:
blackjack(9,9,9)

'BUST'

In [82]:
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to  
the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [83]:
trp = [4,5,6,7,8,9]

In [84]:
tpr = sum(trp)

In [85]:
trp

[4, 5, 6, 7, 8, 9]

In [86]:
tpr

39

In [214]:
ip = 0
for el in trp:
    if el in range (6, 9):
        print(el)
        ip = ip + 0
    else:
        ip = ip + el

6
7
8

In [237]:
def summer_69(arr):
    ip = sum(arr)
    #print(ip)
    for ele in arr:
        if ele in range(6,10):
            #print(ele)
            ip = ip - ele
            #print(ip)
    return ip

In [238]:
summer_69([1, 3, 5,6])

9

In [239]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [240]:
summer_69([2, 1, 6, 9, 11])

14

In [241]:
summer_69([1,2,3,4,5,6,7,8,9,10,11,12,5,6,7,8,9])

53

In [258]:
#SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
def spy_game(nums):
    #z = []
    spy = False
    if 0 in nums:
        x = nums.index(0)
        #z.append(x)
        nums.pop(x)
        if(0 in nums):
            y = nums.index(0) + 1
            #z.append(y)
            #print(z)
            if(7 in nums):
                d = nums.index(7) + 2
                #z.append(d)
                if(y >= x + 1 and d >= x + 2 ):
                    print("Check")
                    spy = True
                else:
                    print("No bueno")
                    spy = False
    return spy

In [259]:
spy_game([1,2,4,0,0,7,5])

Check

True

In [260]:
spy_game([1,0,2,4,0,5,7])

Check

True

In [261]:
spy_game([1,7,2,0,4,5,0])

No bueno

False

In [262]:
spy_game([1,0,0,0,7,0])

Check

True

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [611]:
def count_primes(num):
    primes = 0
    for element in range(2,num):
        if element > 2:
            for n in range(2, element//2 + 2):
                if(element % n) == 0:
                    break
            else:
                if(n == element // 2 + 1):
                    primes = primes + 1
                    print(element)
    return primes

In [424]:
start = 11
end = 25
  
for val in range(start, end + 1): 
    if val > 1: 
        for n in range(2, val//2 + 2): 
            if (val % n) == 0: 
                break
            else: 
                if n == val//2 + 1: 
                    print(val)

11
13
17
19
23

In [612]:
count_primes(100)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

24

In [426]:
count_primes(10)

3
5
7

3

Just for fun:

PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter

print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
     
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [586]:
def print_big(letter):
    
    dc = {'a': [1,5,2,2], 'b': [2,2,3,2,2], 'c':[3,1,1,3], 'd':[3,2,2,3], 'e':[3,1,3,1,3]}
    ssl = " *"
    ddl = " "
    
   
    for l in dc[letter]:
        if l > 0:
            ddl = ssl * l
            #print(ddl)
                
        elif l == 0:
            #print("  ")
            return ddl

In [587]:
print_big('e')

In [508]:
fg = {'a': '**\n****\n*  *\n*  *'}

In [509]:
fg

{'a': '**\n****\n*  *\n*  *'}

In [510]:
fg['a']

'**\n****\n*  *\n*  *'

In [511]:
pot = [1,1,0]

In [512]:
pot

[1, 1, 0]

In [513]:
for i in pot:
    print(f'{pot[i]} ')

1
1
1

In [514]:
ssl = "*"

In [503]:
ssl * 3

'***'

In [546]:
def print_big(letter):
    
    dc = {'a': [ '*', '* * *']}
    ssl = " *"
    ddl = " "
    
    if(letter == 'a'):
        print(dc)

In [547]:
print_big('a')

{'a': ['*', '* * *']}

In [608]:
def print_big(letter):
    
    dc = {'a': [1,5,2,2], 'b': [2,2,3,2,2], 'c':[3,1,1,3], 'd':[3,2,2,3], 'e':[3,1,3,1,3]}
    ssl = " *"
    ddl = " "
    
   
    for l in dc[letter]:
        if l > 0:
            ddl = ssl * l
            print(ddl)
                
        elif l == 0:
            print("  ")
            return ddl

In [607]:
print_big('e')

 * * *
 *
 * * *
 *
 * * *

In [626]:
def hh_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i + 1] == 3:
            return True
    
    return False

In [627]:
hh_33([1,3,3])

True

In [628]:
def pprime(num):
    if num < 2:
        return 0
    
    primes = [2]
    
    x = 3
    
    while x <= num:
        for y in range(3,x,2):
            if(x % y == 0):
                x+=2
                break
        else:
            primes.append(x)
            x+=2
    print(primes)
    
    return len(primes)

In [629]:
pprime(10)

[2, 3, 5, 7]

4

In [630]:
pprime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [631]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [632]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [633]:
print_big('b')

****
*   *
****
*   *
****